wallenstorfer.com, www.wallenstorfer.com, snake.wallenstorfer.com, www.snake.wallenstorfer.com {
	encode zstd gzip
	root * /var/www/site/public
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
	}
	try_files {path} /index.html
	file_server
}
